@page "/"
@rendermode InteractiveServer

<div class="container p-0 m-0">
    <!--- *Parte principal -->
    <main class="w-100 vh-100 overflow-auto m-0  p-0">
        <header class="text-bg-light mb-5 py-3 border-bottom border-2 borderCafeDiscreto text-center">
            <h2 class="header display-3">Hola, bienvenido</h2>
        </header>
    </main>
</div>
@code {

}